.upload-form-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

h2{
    margin: 0;
    font-size: 24px;
    color: #273027;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.file-input-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px;
    /* border: 1px solid red; */
}

.file-input{
    display: none;
}

.file-label{
    background: #349Bdb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button{
    background: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.upload-button:disabled{
    background: #ccc;
    cursor: not-allowed;
}

.upload-status{
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}